@font-face {
    font-family: Poppins;
    src: url(Fonts/Poppins/Poppins-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    height: 15vh;
    width: 100vw;
    background-color: rgb(224, 221, 221);
    box-shadow: 1px 4px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 100vw;
    height: 85vh;
    background-color:rgb(243, 239, 231);
    padding: 50px;
}

.addNewBook, .formButton, .deleteBook {
    height: 40%;
    width: 15%;
    font-size: clamp(0.7rem, 1.3vw, 2rem);
    font-family: Poppins;
    padding: 0 40px;
    height: 40px;
    border-radius: 8px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(130, 151, 157);
    transition: all 0.2s;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(133, 132, 132, 0.2);
}

.addNewBook:hover, .formButton:hover, .deleteBook:hover {
    transform: scale(1.005);
    border: 1px #C0C0C0;
    border-style: solid;
    cursor: pointer;
}

/*this is a styling for the button which would appear on every book added to the library*/
.deleteBook {
    background-color: rgb(232, 96, 96);
    width: 100%;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    text-align: center;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    gap: 20px;
    padding: 40px;
    border-radius: 8px;
    background-color: #fffbfb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    line-height: 1.2;
    font-family: Poppins;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    border-color: transparent;
    height: 45vh;
    width: 20vw;
    padding: 15px;
    gap: 20px;
    background-color: #f3eeee;
}

#modal input {
    background-color: white;
    border-color: transparent;
    border-radius: 6px;
    width: 100%;
    height:6vh;
    margin-bottom: 15px;
    padding: 4px;
    font-size: 20px;
}

.firstInput {
    margin-top: 45px;
}

.formButtons {
    font-size: 17px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.formButton {
    padding: 0;
    margin: 0;
    width: 40%;
}



